<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Random Title</title>
    <link rel="stylesheet" href="css/contact.css" />

    <!-- CSS link (loading Semantic UI from a CDN) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        padding: 50px;
      }
    </style>
  </head>
  <body class="container">
    <section class="contact-content-wrapper">
      <div class="contact-header">
        <h1 class="">Contact</h1>
      </div>

      <div class="contact-paragraph-wrapper">
        <p class="contact paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae
          cumque magnam, modi esse corporis porro doloribus quibusdam at quas
          aut iste dolores tempore assumenda libero similique. Id, inventore
          aut.
        </p>
      </div>
    </section>
  </body>
</html>
